body {
    margin: 40px auto;
    /* max-width: 650px; */
    width: 40%;
    line-height: 1.8;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Fira Sans ExtraLight', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    background-color: #536282;
    color: white;
    padding: 0 10px;
}

h1 {
    font-size: 40px;
    font-weight: 500;
}
h2 {
    font-size: 30px;
    line-height: 1;
}
h3 {
    font-size: 24px;
    /*font-weight: bold;*/
    line-height: 1.5;
}
h1, h2, h3 {
    font-family: 'IBM Plex Serif', sans-serif;
}
h2, h3 {
    font-weight: bolder;
}

caption {
    font-size: 16px;
    font-weight: light;
}
a {
    color: #edbaff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    font-style: italic;
}
img {
    width: 75%;
    height: 50%;
    display: block;
    margin: 0 auto;
    /* border-radius: 50%; */
}
p {
    margin-bottom: 0;
}
hr {
    /* display: block; */
    /* border: 5px solid whitesmoke; */
    size: 4;
    width: 60%;
    color: rgb(223, 223, 223);
    margin-top: 5%;
}

emph {
    font-style: italic;
}

strong {
    font-weight: bold;
    color: #a1dde9;
}


.email {
    text-align:center;
    color: white;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.tab {
  margin-left: 40px;
  font-size: 16px;
  line-height: 1.5;
}


/**********
Footnotes from https://stevans.github.io/inline-footnotes/
**********/

/*
Example usage
<input type="checkbox" id="cb1" /><label for="cb1"><sup></sup></label><span><br><br>This is the footnote text.<br><br></span>

*/

/* This creates the counter  */
body {
  counter-reset: cb_counter_var;
}

/* This increments the counter value and defines
the displayed content  */
sup::after {
  counter-increment: cb_counter_var;
  content: counter(cb_counter_var);
}

/* This initially hides the footnote (i.e. span)  */
input[type=checkbox]:not(:checked) ~ span {
    display:none;
}

/* This styles the footnote text which appears
when the label is clicked  */
input[type=checkbox]:checked ~ span {
    display:inline;
    font-size: 75%;
    font-family:'Roboto Mono';
    color: #eee;
    cursor:default;
}

/* This permanently hides the checkbox  */
input[type=checkbox]{
    display:none;
}

/* This styles the footnote label to appear
like a hyperlink  */
input[type=checkbox] ~ label {
    display:inline;
    cursor:pointer;
    color:#dbbaff;
    text-decoration:none;
}

/* This styles the footnote label when the mouse
hover over it */
input[type=checkbox] ~ label:hover {
    text-decoration:underline;
    cursor:pointer;
    color:#dbbaff;
}

/* This styles the footnote label after it is clicked */
input[type=checkbox]:checked ~ label {
    color:#dbbaff;
    text-decoration:none;
}


